@model ODMS.Models.tbld_SKUContainertype

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix ">
            Details

            <span id="Exportbtn" class="pull-right"> </span>
        </div>
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Containertype)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Containertype)
            </dd>

        </dl>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ContainertypeId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
