
@using ReportViewerForMvc
<div class="row">
    <div class="col-md-12">
 
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <div class="clearfix ">
                    Search Option

                </div>
            </div>
            <div class="panel-body" style="overflow-x: scroll; min-height: 600px;">
                    
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", height = "100%", width = "100%" })
                   
                        
            </div>
        </div>
    </div>
</div>


<style>
   
    iframe {
        border: none;
        min-height: 600px;
    }
</style>
<script>
   
</script>
