@model ODMS.Models.ViewModel.PurchaseInsertVM
@{
    ViewBag.Title = "Receive Purchase";
}


<div class="panel panel-primary">
<div class="panel-heading ">
    <div class="clearfix">
       @ViewBag.Title
                      
    </div>
</div>
<div class="panel-body" style="overflow-x: scroll;">
    <div class="row">
        <div class="col-md-12">
      
            <div class="col-md-4">
                <div class="form-group">
                    Challan No
                    <input class="form-control" id="ChallanNo" type="number" name="ChallanNo"/>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Challan Date
                    <input class="form-control" id="ChallanDate" type="text" name="ChallanDate"/>

                </div>
            </div>

            <table class="table table-striped table-bordered table-hover" id="sales_order">
                <thead>
                <tr>
                    <th style="min-width: 300px;">
                        SKU Name (Betch)
                    </th>
                    <th>
                        Betch Id
                    </th>
                    <th>
                        Pack Size
                    </th>
                    <th>
                        DB Price
                    </th>

                    <th style="min-width: 100px;">
                        CS
                    </th>
                    <th style="min-width: 100px;">
                        PCS
                    </th>

                    <th>
                        Total QTY
                    </th>
                    <th style="min-width: 140px;">
                        Subtotal
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody id="tbody_order"></tbody>
                <tfoot>
                <tr>
                    <td>
                        <a class="btn btn-xs btn-success" id="row_add" data-track="0" onclick="add_row()">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add
                        </a>
                    </td>
                    <td colspan="5"></td>

                    <td>Gross Total</td>
                    <td>
                        <input id="grand_total" type="text" class="form-control" name="grand_total" readonly/>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-success" data-track="0" onclick="add_row()">
                            <i class=" glyphicon glyphicon-plus"></i>
                            Add
                        </a>
                    </td>
                </tr>


                <tr>
                    <td colspan="6"></td>


                    <td></td>
                    <td>
                        <button onclick="savedata()" type="submit" class="btn btn-primary btn-lg">Save</button>
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>


    </div>
    </div>
</div>
@{
    DateTime systemDate = (DateTime)Session["SystemDate"];
    var newDate = systemDate.AddDays(2);
}
<script>
    var sku_row_count = -1;
   
    $(document).ready(function () {

        $("#ChallanDate").datepicker(
            {
                dateFormat: 'dd-mm-yy',
                maxDate: '@systemDate.ToString("dd-MM-yyyy")'
            }
        );
        $("#tbody_order").html("");
       
        
        add_row();
    });
    /*-----------------------------------------------------------------------
     * Get the  Block Sku by using this function
     *-----------------------------------------------------------------------*/
    function block_bundelitem() {
        var bundelitemList = ['0'];
        $('body select[name="bundelitem"]').each(function () {
            var bundelitem = $(this).val();
            if (bundelitem) {
                bundelitemList.push(bundelitem);
            }
        });
        return bundelitemList;
    }

    function checkpreviousitemselected() {
        var skuselected = 0;
        
        $('body select[name="bundelitem"]').each(function () {
            var bundelitem = $(this).val();
            if (bundelitem) {
              
            } else {
                skuselected = 1;
            }
        });
        return skuselected;
    }

    function block_SkuList() {
        var skuList = ['0'];
        $('input[name="SkuId"]').each(function () {
            var skuid = $(this).val();
            if (skuid) {
                skuList.push(skuid);
            }
        });
        return skuList;
    }
    /*-----------------------------------------------------------------------
    * Get the  Block Sku by using this function
    *-----------------------------------------------------------------------*/

    function add_row() {
       
        var bundelitem = block_bundelitem();
        var skuList = block_SkuList();
        var skuselected = checkpreviousitemselected();

        if (skuselected === 1) {
            swal("Sorry", "SKU Not Selected", "error");
        }else{
        sku_row_count++;
        var count = sku_row_count;
        $.ajax({
            type: "POST",
            url: "/Purchase/AddRow",
            data: { count: count, bundelitem: bundelitem, skuList: skuList },
            dataType: "HTML",
            async: "true",
            cache: "false",
            success: function (data) {
                $("#tbody_order").append(data);
                $("select").select2();
            }
        });
            }
    }

    $("table").on('click', '#removeLine', function () {
        $(this).parent('td').parent('tr').remove();
        grand_total_amount();
    });

    function get_unit_price(id) {
        var index = id.slice(10);
        var itemid = $("#bundelitem" + index).val();
        $("#SkuId_" + index).val("");
        $("#BetchId_" + index).val("");
        $("#PackSize_" + index).val("");
        $("#UnitSalePrice_" + index).val("");
        $("#PromotionId_" + index).val("");
        $("#Lpec_" + index).val("");

        if (itemid !== '') {

            $.ajax({
                type: "GET",
                url: "/Purchase/GetSkuDetailbyBundelId",
                data: { itemid: itemid },
                dataType: "json",
                error: function () {
                    alert("Sorry");
                },
                success: function (data) {
                    $("#SkuId_" + index).val(data[0].skuid);
                    $("#BetchId_" + index).val(data[0].batch);
                    $("#PackSize_" + index).val(data[0].unit);
                    $("#UnitSalePrice_" + index).val(data[0].db_price);
                    $("#PS_" + index).val("0");
                    
                    openQty(index);
                    gettotalQty(index);

                }
            });

        } else {

            openQty(index);
        }


    }

    function openQty(index) {


        var skuId = $("#SkuId_" + index).val();

        if (skuId !== '') {
            $("#CS_" + index).removeAttr("readonly");
            $("#PS_" + index).removeAttr("readonly");

        } else {
            grand_total_amount();
        }
    }

    function total_qty(id) {
        var index = id.slice(3);
        gettotalQty(index);
    }

    function gettotalQty(index) {
        var packSize = $("#PackSize_" + index).val();
        var unitSalePrice = $("#UnitSalePrice_" + index).val();


        var qtyCs = $("#CS_" + index).val();
        var qtyPs = $("#PS_" + index).val();

        qtyCs = (qtyCs !== '') ? parseInt(qtyCs) : 0;
        qtyPs = (qtyPs !== '') ? parseInt(qtyPs) : 0;

        $("#ChallanQuantity_" + index).val(parseInt(qtyCs * packSize) + qtyPs);

        $("#TotalPrice_" + index).val(parseFloat((parseInt(qtyCs * packSize) + qtyPs) * unitSalePrice).toFixed(2));

        grand_total_amount();
    }

    function grand_total_amount() {

        var totalAmount = 0;

        $('input[name="TotalSalePrice"]').each(function () {
            var amount = $(this).val();
            if (amount) {
                totalAmount = totalAmount + parseFloat(amount);
            }
        });

        $("#grand_total").val(parseFloat(totalAmount).toFixed(2));
        $("#discount_total").val(parseFloat(totalAmount).toFixed(2));
    }



    function savedata() {
       

        var purchaseLine = [];

        $('input[name="SkuId"]').each(function () {
            var id = $(this).attr('id');
            var index = id.slice(6);
            purchaseLine.push({
                    Bundelitemid: $("#bundelitem" + index).val(),
                    SkuId: $(this).val(),
                    BetchId: $("#BetchId_" + index).val(),
                    PackSize: $("#PackSize_" + index).val(),
                    UnitSalePrice: $("#UnitSalePrice_" + index).val(),
                    ChallanQuantity: $("#ChallanQuantity_" + index).val(),
                    TotalPrice: $("#TotalPrice_" + index).val()
                }
            );


        });


        var purchase = {
            ChallanNo: $("#ChallanNo").val(),
            ChallanDate: $("#ChallanDate").val(),
            PurchaseLine: purchaseLine
        };

        $.ajax({
            type: "POST",
            url: "/Purchase/PurchaseSave",
            data: purchase,
            dataType: "json",
            success: function (data) {

                if (data === "Success") {

                    window.location.href = "/Inventory/Index";

                } 
            }

        });

    }
</script>