@using ReportViewerForMvc
@{
    ViewBag.title = "Challan Vs Delivery";
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h6>Challan Vs Delivery</h6>

                    </div>
                    <div class="panel-body">

                        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", height = "40%", width = "100%" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    iframe {
       border: none;
       max-width: 100%;
    }
   
</style>
