@model IEnumerable<ODMS.Models.tbld_Outlet>

@{
    ViewBag.Title = "Outlet Approve Index";
}


<div class="row">
    <div class="col-md-12">
        <div id="zone_filter"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <button type="button" onclick="GetData()" class="btn btn-success pull-right">Search</button>
        </div>
    </div>
</div>
<br />

<div id="DbHouseoutletlist">

</div>

<script>


    $(document).ready(function () {

        Get_Zonefilter();
      

    });

    function GetData() {
        //debugger


        var dbIds = $("#DB_ids").val();
        var ceIds = $("#CE_ids").val();
        var asmIds = $("#ASM_ids").val();
        var rsmIds = $("#RSM_ids").val();

        $("#ajax_load").show();

        if (dbIds !== null || rsmIds !== null || asmIds !== null || ceIds !== null) {

            $.ajax({
                type: "POST",
                url: "/DBhouseOutlet/ApproveOutletShowAllbydbid",
                data: { RSMid: rsmIds, ASMid: asmIds, CEid: ceIds, id: dbIds },
                dataType: "HTML",
                async: "true",
                cache: "false",
                success: function (data) {
                    $("#ajax_load").hide();
                    $("#DbHouseoutletlist").html(data);
                    convert_data_tabel();

                }
            });

        }
        else {
            $("#ajax_load").hide();
            swal("Sorry!", "Please select DB house !", "error")
        }
    }


</script>
