@model ODMS.Models.tbld_sku_category

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix ">
            Details

            <span id="Exportbtn" class="pull-right"> </span>
        </div>
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.sku_category_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sku_category_name)
            </dd>

        </dl>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
